<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>

    <div class="wraper">

        <form class="modal logn" id="log" action="/login" method="POST">
            <header>login</header>
        
            <input type="email" name="email" placeholder="email" id="usr">
            <input type="password" name="password" placeholder="password" id="passw">
        
            <button type="submit" id="logn">login</button>
        </form>
        
    </div>

 
</body>
</html>

<!-- <a href="./empl">login</a> -->