

    
    <div class="containerone  py-3 px-0"id="empcontainer">
        <div class="row1 p-3">
            <div class="employlist p-0">
                <!-- <div class="logo"><h3>Employees List</h3> -->
                    <div class="emp ">
                        <label for="salutation" class="form-label salutation "><h4 class="text-primary-emphasis">Employees List</h4></label>
                        <select id="pag"class="form-select" aria-label="Default select example">
                            <option selected>1</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <h6>of n</h6>
                    </div>
                    <div class=" ps-4">
                        <button type="button" class="btn btn-primary sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Add Employee
                          </button>
                    </div>
            </div>
                
        </div>
    <div class="table-responsive bg-white">
        <table class="table bg-white">
            <thead>
                <tr>
                    <th class="tbl"cope="col">SI.No</th>
                    <th class="tbl"scope="col"> Name</th>
                    <th class="tbl"scope="col">Email</th>
                    <th class="tbl"scope="col">Phone</th>
                    <th class="tbl"scope="col">Gender</th>
                    <th class="tbl"scope="col">State</th>
                    <th class="tbl"scope="col">Country</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="EmpTable">
                <tr class="details">
                    <td></td>
                    <!-- <td class="user"></td>           <img src="img/Rectangle 347.png"> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
               
            </tbody>
            
              
        </table>
    </div>

    <!-- </div> -->
    <nav aria-label="Page navigation paginationcontainer">
        <ul class="pagination mt-3 mb-3">
          <button class="page-item" type="button" id="prevbtn">
              <span aria-hidden="true">&laquo;</span>
          </button>
          <div id="pageno">
            
          </div>
          <button class="page-item" type="button" id="nextbtn" >
              <span aria-hidden="true">&raquo;</span>
          </button>
        </ul>
      </nav>
</div>
<footer class=" footr">
    © 2023  All Rights Reserved. Stackup
    <div class="tc">
        <div class="terms"><a href="#">Terms of Use</a></div>
        <div class="condition"><a href="#">Privacy Policy</a></div>
    </div>
  </footer>

  <!-- onclick="next()" onclick="prev()" -->