<div class="userlogo">
    <div class="userheader">
        <p>Dashboard / Employees</p>
        <h1>Employees</h1>
    </div>
    <div class="search">
        <input id="sbar" type="search" placeholder="search" name="search" onkeyup="employees()">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-regular fa-bell"></i>
        <div class="img">
            
        </div>
    </div>
</div>