<div class="containerone  py-3 px-0">
    <!-- <div class="row1 p-3"> -->
        <div class="container-sm">
            <div class="row forms">
                <form class="col-8 main  bg-white "id="employeedet">
                  <div class="empdet">
                    <div class="bgimg">
                        <img src="img/empbg.png" alt="">
                        <div class="empfinal">
                            <!-- <img src="img/emp.png"> -->
                        </div>
                        <div class="namemale">
                            <div class="name">
                                <h3>Michel johnson</h3>
                            </div>
                            <div class="email">
                                <p>micheljohnson@gmain.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="row profile">
                        <div class="col"> <label for="">Gender</label><p></p></div>
                        <div class="col" id="age"><label for="">Age</label><p id="ageof"></p></div>
                        <div class="col"><label for="">Date of Birth</label><p></p></div>
                    </div>
                    <div class="row profile">
                        <div class="col"> <label for="">MObile number</label><p></p></div>
                        <div class="col"> <label for="">Qualifications</label><p></p></div>
                        <!-- <div class="col"></div> -->
                    </div>
                    <div class="row profile">
                        <div class="col"> <label for="">Address</label><p></p></div>
                        <div class="col"> <label for="">Username</label><p></p></div>
                        <!-- <div class="col"></div> -->
                    </div>
                    <div class="row profile probtn mb-0">
                        <div class="buttoncol">
                            <button class="btn btn-danger py-3 px-4">Delete</button>
                            <button class="btn btn-primary py-3 px-4">Edit Details</button>
                        </div>
                    </div>
                    






                  </div>
                </form>
             </div>
            </div>    
    <!-- </div> -->

</div>
